* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 425px;
    margin: 0 auto;
    background-color: #FFF9DD;
    overflow: hidden;
}

.twinings {
    position: relative;
    /* transition: all 1s;
    opacity: 0;
    visibility: hidden; */
}

.new {
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 75px;
    opacity: 0;
}

.title-peach,
.title-raspberry {
    width: 410px;
}

.title-twinings {
    width: 420px;
    opacity: 0;
}

.title-twinings-b1 {
    width: 420px;
}

.new-b1,
.new-peach,
.new-raspberry {
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 75px;
}

.flavour {
    position: absolute;
    z-index: 3;
    width: 300px;
    bottom: 40px;
    left: 45px;
    opacity: 0;
}

.hidden-pepermint {
    display: block;
}

.hidden-pepermint-2,
.hidden-raspberry,
.hidden-peach {
    display: none;
}

/* .hidden-raspberry {
    display: none;
} */

/* .hidden-peach {
    display: none;
} */

.slider-block {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    height: 440px;
    display: block;
}

.slider-block-pepermint {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    height: 440px;
    display: none;
}

.strawberry-1 {
    position: absolute;
    left: -80px;
    width: 170px;
    opacity: 0;
}

.strawberry-1-b1 {
    position: absolute;
    left: -80px;
    width: 170px;
}

.strawberry-2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 170px;
    opacity: 0;
}

.strawberry-2-b1 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 170px;
}

.pepermint-tea {
    position: absolute;
    top: 50px;
    left: 105px;
    width: 240px;
    opacity: 0;
}

.pepermint-tea-b1 {
    position: absolute;
    top: 50px;
    left: 105px;
    width: 240px;
}

.pepermint-1 {
    position: absolute;
    top: 130px;
    left: 6px;
    width: 250px;
    opacity: 0;
}

.pepermint-1-b1 {
    position: absolute;
    top: 130px;
    left: 6px;
    width: 250px;
}

.seed-1 {
    position: absolute;
    bottom: 120px;
    right: 40px;
    width: 40px;
    opacity: 0;
}

.seed-1-b1 {
    position: absolute;
    bottom: 120px;
    right: 40px;
    width: 40px;
}

.seed-2 {
    position: absolute;
    top: 150px;
    right: -25px;
    width: 40px;
    opacity: 0;
}

.seed-2-b1 {
    position: absolute;
    top: 150px;
    right: -25px;
    width: 40px;
}

.slider-block-raspberry {
    position: relative;
    height: 440px;
    display: none;
}

.raspberry-tea {
    position: absolute;
    top: 50px;
    left: 105px;
    width: 240px;
    z-index: 3;
}

.raspberry-1 {
    position: absolute;
    width: 139px;
    left: -30px;
    top: -40px;
    z-index: 5;
}

.raspberry-2 {
    position: absolute;
    right: 85px;
    top: 5px;
    width: 110px;
}

.raspberry-3 {
    position: absolute;
    width: 130px;
    top: 60px;
    right: 35px;
    z-index: 2;    
}

.lemon {
    position: absolute;
    bottom: 35px;
    width: 210px;
}

.petal-1 {
    position: absolute;
    width: 65px;
    top: 210px;
    left: 200px;
}

.petal-2 {
    position: absolute;
    top: 40px;
    left: 75px;
    width: 75px;
}

.petal-3 {
    position: absolute;
    width: 130px;
    top: -20px;
    right: -40px;
}

.petal-4 {
    position: absolute;
    width: 100px;
    top: 155px;
    right: 50px;
    z-index: 1;
}

.petal-5 {
    position: absolute;
    width: 100px;
    top: 100px;
    left: -50px;
}

.slider-block-peach {
    position: relative;
    height: 440px;
    display: none;
}

.peach-tea {
    position: absolute;
    top: 50px;
    left: 105px;
    width: 240px;
}

.peach {
    position: absolute;
    top: -20px;
    right: 48px;
    width: 135px;
}

.orange {
    position: absolute;
    bottom: 65px;
    width: 195px;
}

.arrows,
.arrows-pepermint,
.arrows-raspberry,
.arrows-peach {
    display: flex;
    width: 385px;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    top: 145px;
    left: 20px;
}

.arrows-raspberry {
    top: 150px;
    z-index: 5;
}

.arrows-peach {
    top: 155px;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    opacity: 0;
}

.left-arrow-b1,
.right-arrow-b1,
.left-arrow-rasp,
.right-arrow-rasp,
.left-arrow-peach,
.right-arrow-peach {
    cursor: pointer;
}

.redirect-pic {
    width: 150px;
    position: absolute;
    bottom: 50px;
    left: 140px;
    opacity: 0;
}

.redirect-pic-rasp,
.redirect-pic-peach,
.redirect-pic-b1 {
    width: 150px;
    position: absolute;
    bottom: 50px;
    left: 140px;
}

.pepermint-2 {
    position: absolute;
    bottom: -65px;
    right: -50px;
    width: 170px;
    opacity: 0;
}

.pepermint-2-b1 {
    position: absolute;
    bottom: -65px;
    right: -50px;
    width: 170px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1);
    }

    to {
        opacity: 1;
    }
}

.strawberry-1,
.strawberry-2,
.pepermint-1,
.pepermint-2,
.seed-1,
.seed-2 {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
  
.title-twinings {
    animation-name: fadeInDownBig;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(1000px, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.pepermint-tea {
    animation-name: fadeInRightBig;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.flavour {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
  
.new {
    animation-name: fadeInDownBig;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

.redirect-pic {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.left-arrow,
.right-arrow {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.appearence {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
}

.disappearance {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.appearence-title {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.tea-right {
    animation-name: fadeInRightBig;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-1000px, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.tea-left {
    animation-name: fadeInLeftBig;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.orientation-change__picture {
    width: 100vw;
    height: 100vh;
}

.hide-container {
    display: none;
}

.show-container {
    display: block;
}

@media screen and (max-width: 415px) {
    .container {
        width: 414px;
    }

    .title-twinings {
        width: 410px;
    }

    .title-twinings-b1 {
        width: 410px;
    }

    .new,
    .new-b1 {
        width: 70px;
    }

    .pepermint-tea {
        left: 95px;
    }

    .strawberry-2-b1 {
        right: -5px;
    }

    .strawberry-2 {
        right: 10px;
    }

    .pepermint-1 {
        left: -4px;
    }

    .arrows {
        width: 385px;
    }

    .seed-1 {
        right: 40px;
    }

    .seed-2 {
        right: -25px;
    }
    
    .pepermint-2 {
        right: -60px;
    }
    
    /*  RASPBERRY    */
    .title-raspberry {
        width: 400px;
    }

    .new-raspberry {
        width: 70px;
    }

    .raspberry-tea {
        left: 100px;
    }

    .lemon {
        left: -10px;
    }

    .petal-2 {
        left: 65px;
    }

    .raspberry-2 {
        right: 80px;
    }

    /* PEACH */
    .title-peach {
        width: 400px;
    }

    .new-peach {
        width: 70px;
    }

    .peach {
        width: 135px;
        right: 35px;
        top: -15px;
    }

    .peach-tea {
        top: 55px;
    }

    .orange {
        bottom: 60px;
    }
}

@media screen and (max-width: 376px) {
    .container {
        width: 375px;
    }

    .title-twinings,
    .title-twinings-b1 {
        width: 370px;
    }

    .new,
    .new-b1 {
        width: 60px;
    }

    .flavour {
        width: 270px;
    }

    .strawberry-1,
    .strawberry-1-b1 {
        left: -75px;
        width: 160px;
    }

    .pepermint-tea,
    .pepermint-tea-b1 {
        left: 75px;
    }

    .strawberry-2,
    .strawberry-2-b1 {
        right: -5px;
        top: 15px;
        width: 160px;
    }

    .arrows,
    .arrows-pepermint,
    .arrows-raspberry {
        width: 345px;
        top: 145px;
    }

    .seed-1,
    .seed-1-b1 {
        right: 20px;
    }

    .seed-2,
    .seed-2-b1 {
        right: -25px;
    }

    .redirect-pic,
    .redirect-pic-b1 {
        left: 115px;
    }

    .pepermint-2,
    .pepermint-2-b1 {
        right: -55px;
        bottom: -55px;
        width: 150px;
    }

    .pepermint-1,
    .pepermint-1-b1 {
        top: 160px;
        left: -2px;
        width: 200px;
    }

    /*  RASPBERRY    */
    .title-raspberry {
        width: 360px;
    }

    .new-raspberry {
        width: 60px;
    }

    .raspberry-tea {
        left: 85px;
        top: 65px;
    }

    .petal-2 {
        top: 51px;
    }

    .raspberry-2 {
        right: 55px;
        top: 15px;
    }

    .raspberry-3 {
        right: 10px;
        top: 75px;
    }

    .lemon {
        bottom: 20px;
        left: -20px;
    }

    .petal-3 {
        width: 110px;
        top: 0px;
        right: -45px;
    }

    .arrows,
    .arrows-raspberry {
        z-index: 5;
        top: 150px;
    }

    /* PEACH */
    .title-peach {
        width: 360px;
    }

    .new-peach {
        width: 60px;
    }

    .peach-tea {
        left: 85px;
        top: 65px;
    }

    .peach {
        width: 130px;
        right: 20px;
        top: 0;
    }

    .redirect-pic-peach {
        left: 125px;
    }

    .orange {
        left: -15px;
        bottom: 55px;
        width: 190px;
    }

    .arrows-peach {
        width: 345px;
        top: 155px;
    }
}